@use './colors' as *;

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Kumbh Sans', sans-serif;
	background-color: $SoftViolet;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
	// width: 100vw;
}

.container {
	position: relative;
	background-color: $Lightgrayishblue;
	border-radius: 30px;
	padding: 10em 2em 3em;
	width: 330px;
	height: 500px;

	.logo {
		&__1 {
			position: absolute;
			background-image: url('../img/illustration-woman-online-mobile.svg');
			top: -24%;
			left: 50%;
			transform: translateX(-50%);
			width: 80%;
			height: 40%;
		}
		&__2 {
			position: absolute;
			background-image: url('../img/bg-pattern-mobile.svg');
			top: 0;
			left: 50%;
			transform: translateX(-50%);
			width: 73%;
			height: 20.8%;
		}
	}

	&__text {
		overflow: hidden;
		height: 400px;

		.container-faq:hover .question {
			font-weight: 700;
			color: $Verydarkblue;
		}

		.container-faq {
			position: relative;
			cursor: pointer;

			.answer {
				display: none;
				margin-top: 0.5em;
			}

			.question {
				transition: color 0.3s;
			}

			p {
				position: relative;
				font-size: 1.5rem;
				color: $Darkgrayishblue;
				pointer-events: none;
			}

			img {
				position: absolute;
				right: 0;
				top: 40%;
				top: 8px;
				transition: transform 0.2s ease-in;
				pointer-events: none;
			}
		}

		h1 {
			text-align: center;
			margin: 0.5em 0 1em;
			margin-bottom: 0.5em;
			font-size: 3.5rem;
		}

		hr {
			margin: 1em 0;
			color: $Darkgrayishblue;
		}
	}

	.active .question {
		font-weight: 700;
		color: $Verydarkblue;
	}
	.active img {
		transform: rotateX(180deg);
	}
	.active .answer {
		display: block;
	}
}

@media (min-width: 1200px) {
	.container {
		width: 800px;
		display: flex;
		// justify-content: flex-end;
		.logo {
			// position: relative;
			&__1 {
				position: static;
				background-image: url('../img/illustration-woman-online-mobile.svg');
				// width: 300px;
				// height: 150px;
	
			}
			&__2 {
				position: static;
			}
		}
	}
}
